<!DOCTYPE html>
<html>
<title>AB Credit (HK) Staff Development Platform</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
{% load static %}
<link rel="stylesheet" href="{% static 'CF916F.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <ul class="w3-navbar sdp-main-color w3-top w3-left-align w3-large">
    <li class="w3-opennav w3-right w3-hide-large">
      <a class="w3-hover-white w3-large sdp-main-color" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="/" class="sdp-main-color-dark">AB Credit (HK) Staff Development Platform</a></li>
    <li class="w3-hide-small"><a href="#" class="sdp-main-color">About</a></li>
    <li class="w3-hide-small"><a href="#" class="sdp-main-color">Values</a></li>
    <li class="w3-hide-small"><a href="#" class="sdp-main-color">News</a></li>
    <li class="w3-hide-small"><a href="#" class="sdp-main-color">Contact</a></li>
    <li class="w3-hide-medium w3-hide-small"><a href="#" class="sdp-main-color">Clients</a></li>
    <li class="w3-hide-medium w3-hide-small"><a href="#" class="sdp-main-color">Partners</a></li>
  </ul>
</div>

<!-- Sidenav -->
<nav class="w3-sidenav w3-collapse sdp-main-color-xxlight w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4><b>Catagories</b></h4>
  {% for catagory in catagories %}
  <a onclick="getCatagoryInfo('{{catagory.id}}', '{{catagory.name}}')" class="w3-hover-black">{{catagory}}</a>
  {% endfor %}
</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 id = "content-title" class="w3-text-teal">{{title}}</h1>
      <h4 id = "content-main"></h4>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
  </div>


  <footer id="myFooter">
    <div class="w3-container sdp-main-color w3-padding-32">
      <h4>Footer</h4>
    </div>

  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}

function getCatagoryInfo(catagory_id, catagory_name) {
    document.getElementById("content-title").innerHTML=catagory_name;
    getHTML( '/catagory/'+catagory_id, function (response) {
      document.getElementById("content-main").innerHTML = response.documentElement.innerHTML;
    });
}

function getCourse(course_id, course_name) {
    document.getElementById("content-title").innerHTML=course_name;
    getHTML( '/course/'+course_id, function (response) {
      document.getElementById("content-main").innerHTML = response.documentElement.innerHTML;
    });
}

/**
 * Get HTML asynchronously
 * @param  {String}   url      The URL to get HTML from
 * @param  {Function} callback A callback funtion. Pass in "response" variable to use returned HTML.
 */
var getHTML = function(url, callback) {
    // Feature detection
    if ( !window.XMLHttpRequest ) return;
    // Create new request
    var xhr = new XMLHttpRequest();
    // Setup callback
    xhr.onload = function() {
        if ( callback && typeof( callback ) === 'function' ) {
            callback( this.responseXML );
        }
    }
    // Get the HTML
    xhr.open( 'GET', url );
    xhr.responseType = 'document';
    xhr.send();
};

</script>

</body>
</html>
