

<div class="form">
    <h1>AB Credit (HK) Staff Development Platform</h1><br><br>
    <form action="" method="post">
      <!-- {% csrf_token %} -->
      {{form}}
      <button type="submit"><b>Register</b></button>
      <!-- <a href="#"><button><b>Forget Password</b></button></a> -->
      <!-- <p><a href="#"><button><b>New Staff</b></button></a></p> -->
    </form>
    <form  action="" method="post"> 
		<h1> Sign up </h1> 
		<p> 
			<label for="usernamesignup" class="uname" data-icon="u">Your username</label>
			<input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
		</p>
		<p> 
			<label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
			<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
		</p>
		<p> 
			<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
			<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
		</p>
		<p class="signin button"> 
			<input type="submit" value="Sign up"/> 
		</p>
	</form>
</div>

