<html>
<head>
    <title>AB Credit (HK) Staff Development Platform</title>
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>

<body>
  <div id="background" class="wall"></div>
  <div id="midground" class="wall"></div>
  <div id="foreground" class="wall"></div>
  {% if duplicate_username %}
      <script>
        alert("user name has already registered");
      </script>
  {% endif %}
  
  {% if password_is_wrong %}
      <script>
        alert("Password inconsistent. Please try again.");
      </script>
  {% endif %}
  
  {% if register_success %}
      <script>
        alert("register success, please go to login");
        window.location.href = "/"
      </script>
  {% endif %}
    <div class="register-form">
        <h1>AB Credit (HK) Staff Development Platform</h1><br><br>
        <form action="" method="post">
          <!-- {% csrf_token %} -->
          {{form}}
          <button type="submit"><b>SIGN UP</b></button>
          <!-- <a href="#"><button><b>Forget Password</b></button></a> -->
        </form>
        <p><a href="/"><button><b>BACK TO LOGIN</b></button></a></p>
        
    </div>
</body>

</html>
