<div class="row clearfix">
    <div class="col-md-4 column">
        <p  id="deleteC"></p>
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Rejected!</strong> The category is not empty
        </div>
        <h1 class="text-center">
            Categories
        </h1>
        <ul class="nav navbar-stacked">
            {% for category, num in counts.items %}
                <li><a onclick="getCategoryInfo('{{category.id}}', '{{category.name}}')">{{category.name}}<span class="pull-right">({{num}})</span></a></li>
            {% endfor %}
        </ul>
        <p></p>
        <p class="text-center" id="button-create"><button type="button" class="btn btn-default" onclick="createCategory()">Create new category</button></p>
    </div>
    <div class="col-md-8 column">
        <h1 id="content-title">Welcome!</h1>
        <div><div id="content-alert"></div></div>
        <div><div id="content-main"></div></div>
    </div>
</div>