<!DOCTYPE html>
{% load static %}
{% for course in courses %}
<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
  <div class="portfolio-wrapper">
    <div class="portfolio-single">
        <div class="portfolio-thumb">
            <img src="{% static 'image/portfolio/1.jpg' %}" class="img-responsive" alt="">
        </div>
        <div class="portfolio-view">
            <ul class="nav nav-pills">
                <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                <li><a href="{% static 'image/portfolio/1.jpg' %}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="portfolio-info ">
      <a herf="#" onclick="getCourse('{{course.id}}','{{course.name}}')">{{course.name}}</a><br>
    </div>
  </div>
</div>
{% endfor %}
