{% load static %}
<div class="portfolio-item branded logos">
  <div class="portfolio-wrapper">
      <ul class="list-group">
        <br><li><a class="btn btn-md btn-success" onclick="createCourse('{{parent_category.id}}','{{parent_category.name}}')">+ Create new course</a></li>
        <h2 class="page-header">My Courses</h2>
        {% for course in mycourses %}
        <h4><li class="list-group-item"><a onclick="getCourseInfo('{{course.id}}', '{{course.name}}')">{{course.name}}</a>
          &nbsp;-&nbsp;{% if course.is_open %}open{% else %}closed{% endif %}
        </li></h4>
        {% endfor %}
        <h2 class="page-header">Other Courses</h2>
        {% for course in othercourses %}
        <h4><li class="list-group-item"><a onclick="getCourseInfo('{{course.id}}', '{{course.name}}')">{{course.name}}</a></li></h4>
        {% endfor %}
      </ul>
  </div>
</div>
