{% load static %}
<div class="col-xs-6 col-sm-6 portfolio-item branded logos">
  <div class="portfolio-wrapper">
    <h4 class="portfolio-info">
      <a class="btn btn-sm btn-success" onclick="createCourse('{{parent_category.id}}','{{parent_category.name}}')">+ Create new course</a><br><br>
      {% for course in courses %}
      <li><a onclick="getCourseInfo('{{course.id}}', '{{course.name}}')">{{course.name}}</a>
        {% if course.instructor == parent_instructor %}
          &nbsp;-&nbsp;My Course&nbsp;-&nbsp;{% if course.is_open %}open{% else %}closed{% endif %}
        {% endif %}
      </li><br>
      {% endfor %}
    </h4>
  </div>
</div>
