<div id="accordion-container">
    <h2 class="page-header">General Info&nbsp;
      {% if is_mine and not is_open %}
          <a class="btn btn-sm btn-success" onclick="createModule('{{course_id}}','{{title}}')">Add Module</a>
      {% endif %}
      {% if not is_open %}
      <a id='registrationButton' class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="openCourse('{{course_id}}')">Open Registration</a>
      {% endif %}
      {% if is_open %}
      <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="closeCourse('{{course_id}}')">Close Registration</a>
      {% endif %}
    </h2>

    <h5 class="panel-body">{{description}}</h5>
    {% if is_mine %}
    <div id="accordion">
      {% for module, components in modules.items %}
          
          <h2 class="page-header" style="color: #686868;">
              Module {{ forloop.counter }}: {{module.name}}&nbsp;&nbsp;
              <a href='test/'><button type="button" >test</button></a>
              
              <span class="glyphicons-file"></span>
              <a class="btn btn-sm btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapse{{module.id}}">Collapse</a>&nbsp;
              {% if not is_open %}
              <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="createComponent('{{module.id}}','{{module.name}}')">Add Component</a>
              {% endif %}
              {% if module.localPosition != 1%}
              <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="moveUpModule('{{module.id}}')">up</a>
              {% endif %}
              {% if module.localPosition != modules|length %}
              <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="moveDownModule('{{module.id}}')">down</a></h4>
              {% endif %}
          </h2>
          <div id="collapse{{module.id}}" class="col-sm-12 panel-collapse collapse in">
            {% for component in components|dictsort:"localPosition"%}
              <h4 class="page-header" style="color: #686868;">
                {% if component.content_type != '2'%}
                <a href="/instructor/component/download/?component_id={{component.id}}"><span class="glyphicons glyphicons-file"></span>
</a>&nbsp;
                {% endif %}
                Component {{forloop.parentloop.counter}}.{{ forloop.counter }}: {{component.name}}
                <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="deleteComponent('{{course_id}}','{{component.id}}')">Delete</a>
              {% if component.localPosition != 1%}
              <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="moveUpComponent('{{component.id}}')">up</a>
              {% endif %}
              {% if component.localPosition != components|length %}
              <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="moveDownComponent('{{component.id}}')">down</a></h4>
              {% endif %}
              <h5 class="panel-body">{{component.content}}</h5>
            {% endfor %}
          </div>
      {% endfor %}
    </div><!--/#accordion-->
    {% else %}
    <h2 class="page-header">Category</h2>
    <div class="panel-body">{{category.name}}</div>
    <h2 class="page-header">Instructor</h2>
    <div class="panel-body">{{instructor.name}}</div>
    {% endif %}
</div><!--/#accordion-container-->
<a class="btn btn-sm btn-warning" onclick="getCategoryInfo('{{category.id}}', '{{category.name}}')">< Back</a>
