
<div id="accordion-container">
    <h2 class="page-header">General Info&nbsp;
      {% if is_mine%}
        {% if not is_open %}
            <a class="btn btn-sm btn-success" onclick="createModule('{{course_id}}','{{title}}')">Add Module</a>
        {% endif %}
        {% if not is_open %}
        <a id='registrationButton' class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="openCourse('{{course_id}}')">Open Registration</a>
        {% endif %}
        {% if is_open %}
        <!-- <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="closeCourse('{{course_id}}')">Close Registration</a> -->
        {% endif %}
      {% endif %}
    </h2>

    <h5 class="panel-body">{{description}}</h5>
    {% if is_mine %}
    <div id="accordion">
      {% for module, components in modules.items %}
          <h2 class="page-header" style="color: #686868;">
              Module {{ forloop.counter }}: {{module.name}}&nbsp;&nbsp;
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{module.id}}">Collapse</a>&nbsp;
              {% if not is_open %}
                <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="createComponent('{{module.id}}','{{module.name}}')">Add Component</a>
                <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="deleteModule('{{module.id}}')">Delete</a>
                <div align="right" id="right-indent">
                {% if module.localPosition != 1%}
                  <a class="btn btn-md" onclick="moveUpModule('{{module.id}}')"><i class="glyphicon glyphicon-arrow-up"></i></a>
                {% endif %}
                {% if module.localPosition != modules|length %}
                <a class="btn btn-md" onclick="moveDownModule('{{module.id}}')"><i class="glyphicon glyphicon-arrow-down"></i></a>
                {% endif %}
                </div>
              {% endif %}

          </h2>
          <div id="collapse{{module.id}}" class="panel-collapse collapse in">
            {% for component in components|dictsort:"localPosition"%}
              <h4 class="page-header" style="color: #686868;">
                Component {{forloop.parentloop.counter}}.{{ forloop.counter }}: {{component.name}}
                {% if component.content_type == '1' %}
                <a class="btn btn-md" href="/instructor/component/download/?component_id={{component.id}}"><i class="glyphicon glyphicon-save"></i></a>
                {% endif %}
              {% if not is_open %}
                <a class="btn btn-sm btn-info" style="color:#FFFFFF" onclick="deleteComponent('{{course_id}}','{{component.id}}')">Delete</a>
                {% if component.localPosition != 1%}
                <a class="btn btn-md" onclick="moveUpComponent('{{component.id}}')"><i class="glyphicon glyphicon-arrow-up"></i></a>
                {% endif %}
                {% if component.localPosition != components|length %}
                <a class="btn btn-md" onclick="moveDownComponent('{{component.id}}')"><i class="glyphicon glyphicon-arrow-down"></i></a></h4>
                {% endif %}
              {% endif %}
              <h5 class="panel-body">
                {% if component.content_type == '3' %}
                <!-- we load the image -->
                <a href="/instructor/course/image/?path={{ component.content_file.url }}" target="_blank"><img src="/instructor/course/image/?path={{ component.content_file.url }}" alt="Not found" width="400"></img></a><p/>
                {% endif %}
                {% if component.content_type == '4' %}
                <div id="video-container">
                      <!-- <div class="col-md-6"> -->
                          <iframe src="https://www.youtube.com/embed/{{component.content}}" ></iframe>
                      <!-- </div> -->
                </div><!--/#video-container-->
                {% endif %}
                {% if component.content_type != '4' %}
                  {{component.content}}<p/>
                {% endif %}
              </h5>
            {% endfor %}
          </div>
      {% endfor %}
    </div><!--/#accordion-->
    {% else %}
    <h2 class="page-header">Category</h2>
    <div class="panel-body">{{category.name}}</div>
    <h2 class="page-header">Instructor</h2>
    <div class="panel-body">{{instructor.name}}</div>
    {% endif %}
</div><!--/#accordion-container-->
<a class="btn btn-sm btn-warning" onclick="getCategoryInfo('{{category.id}}', '{{category.name}}')">< Back</a>
{% if not success and success != None %}
<script>
  alert("open course failed!\nPlease check if the course has module\nand every module has valid components")
</script>
{% endif %}
