<form class="contact-form bottom">
  <div class="form-group">
      <input type="text" id="component_create_name" class="form-control" required placeholder="Component Name">
  </div>
  <div class="form-group" style="width:20%">
    <select id="component_create_content_type" class="form-control">
      <option value="1">File</option>
      <option value="2" selected="selected">Text</option>
      <option value="3">Image</option>
    </select>
  </div>
  <div class="form-group" id="content">
      <textarea type="text" rows="4" id="component_create_content" class="form-control" required placeholder="please put down text here..."></textarea>
  </div>
  <div class="form-group" id='submitbutton'>
      <input class="btn btn-warning" onclick="finishCreateComponent('{{module.id}}')" value="Submit">
  </div>
  <div class="form-group">
      <input class="btn btn-warning" value="Back" onclick="getCourseInfo('{{course.id}}', '{{course.name}}')">
  </div>
</form>

<script>
$('#component_create_content_type').change(function() {
        var value = $('#component_create_content_type').val();
        // alert(value); 
        if (value == 2){
          $("#submitbutton").remove();
          $("#content").html('<textarea  rows=\"4\" type=\"text\" id=\"component_create_content\" class=\"form-group form-control\" required placeholder=\"please put down text here...\"></textarea><div class=\"form-group\" id=\'submitbutton\'> <input class=\"btn btn-warning\" onclick=\"finishCreateComponent(\'{{module.id}}\')\" value=\"Submit\"> </div>');
        }else{
          $.ajax({
              url : "/instructor/component/create/upload/", // the endpoint
              type : "POST", // http method
              data : {'module_id' : '#'}, // data sent with the post request
              // handle a successful response
              success : function(response) {
                  $('#content').html(response);
              },
              // // handle a non-successful response
              // error : function(xhr,errmsg,err) {
              //     $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
              //         " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
              //     console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
              // }
          });
        }          
        
    });
</script>
