<form class="contact-form bottom" id='create_component_form'>
    <div class="form-group">
        <input type="text" id="component_create_name" class="form-control" required placeholder="Component Name">
    </div>
    <div class="form-group" style="width:20%">
        <select id="component_create_content_type" class="form-control" onchange="prepare()">
      <option value="1">File</option>
      <option value="2" selected="selected">Text</option>
      <option value="3">Image</option>
      <option value="4">YouTube</option>
    </select>
    </div>
    <div class="form-group" id="component_create_content_div">
        <textarea type="text" rows="4" id="component_create_content" class="form-control" required placeholder="please put down text here..."></textarea>
    </div>
    <div class="form-group" id='submitbutton'>
        <input class="btn btn-warning" onclick="finishCreateComponent('{{module.id}}')" value="Submit">
    </div>
    <div class="form-group">
        <input class="btn btn-warning" value="Back" onclick="getCourseInfo('{{course.id}}', '{{course.name}}')">
    </div>
</form>
<div id="component_create_content_file">
</div>
<script>
    var files;

    function prepare() {
        var value = $('#component_create_content_type').val();
        // alert(value);
        if (value == 2) {
            $("#component_create_content_file").html('');
            $("#component_create_content_div").html(
                '<textarea  rows=\"4\" type=\"text\" id=\"component_create_content\" class=\"form-group form-control\" required placeholder=\"please put down text here...\"></textarea>'
            );
        } else if (value == 4) {
          $("#component_create_content_file").html('');
          $("#component_create_content_div").html(
              '<textarea  rows=\"1\" type=\"YouTube\" id=\"component_create_content\" class=\"form-group form-control\" required placeholder=\"youtube url\"></textarea>'
          );

        } else {
            // alert('file');
            $("#component_create_content_div").html(
                '<textarea  rows=\"4\" type=\"text\" id=\"component_create_content\" class=\"form-group form-control\" required placeholder=\"please give a short discription\"></textarea>'
            );
            $('#component_create_content_file').html('<label class="myLabel"><input type=\"file\" name=\"upload_file\" required/></label>');
            $('#submitbutton').html('<input class=\"btn btn-warning\" onclick=\"finishCreateComponentFile(\'{{module.id}}\')\" value=\"Submit\">');
            $('input[type=file]').on('change', prepareUpload);



        }

    }
    function prepareUpload(event) {
        files = event.target.files;
    }
    function finishCreateComponentFile(module_id) {
        // Create a formdata object and add the files
        // alert(files[0].name);
        var file_data = new FormData();
        file_data.append('file', files[0]);
        file_data.append('module_id', module_id);
        file_data.append('component_create_name', $('#component_create_name').val());
        file_data.append('component_create_content_type', $('#component_create_content_type').val());
        file_data.append('component_create_content', $('#component_create_content').val());
        $('#component_create_name').val()

        $.ajax({
            url: '/instructor/component/create/upload/',
            type: "POST",
            data: file_data,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data) {
                $("#content-main").html(data);
                files = undefined;
            },
            error: function() {
                // Handle errors here
                console.log('ERRORS: ');
                // STOP LOADING SPINNER
            }
        });
    }
</script>
