<form class="col-sm-12 contact-form bottom">
  <div class="form-group">
      <input type="text" id="component_create_name" class="form-control" required placeholder="Component Name">
  </div>
  <div class="form-group" style="width:20%">
    <select id="component_create_content_type" class="form-control">
      <option value="1">File</option>
      <option value="2">Text</option>
      <option value="3">Image</option>
    </select>
  </div>
  <div class="form-group">
      <input type="text" id="component_create_content" class="form-control" required placeholder="Content">
  </div>
  <div class="form-group">
      <input class="btn btn-warning" onclick="finishCreateComponent('{{module.id}}')" value="Submit">
  </div>
</form>
