<div id="accordion-container">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 portfolio-item branded logos">
    <h2 class="page-header">General Info</h2>
    <h4 class="panel-body">{{description}}</h4>
    <h2 class="page-header">Category</h2>
    <h4 class="panel-body">{{category.name}}</h4>
    <h2 class="page-header">Instructor</h2>
    <h4 class="panel-body">{{instructor}}</h4>
    <h2 class="page-header">History Participants</h2>
    <div class="panel-body"><h4>
      {% for h in history %}
      <li class="list-group-item"><a onclick="getParticipantInfo('{{h.participant.user.pk}}', '{{h.participant}}', '{{hr.user.pk}}', '{{course_id}}')">{{h.participant}}</a>
        <span class="pull-right">{{h.getInfo}}</span>
      </li><br>
      {% endfor %}
    </h4></div>
    <h2 class="page-header">Current Participants</h2>
    <div class="panel-body"><h4>
      {% for c in current %}
      <li class="list-group-item"><a onclick="getParticipantInfo('{{c.participant.user.pk}}', '{{c.participant}}', '{{hr.user.pk}}', '{{course_id}}')">{{c.participant}}</a></li><br>
      {% endfor %}
    </h4></div>
    <a class="btn btn-md btn-warning" onclick="getCategoryInfo('{{category.id}}', '{{category.name}}')">Back to Category</a>
  </div>
</div><!--/#accordion-container-->
<!-- <p></p>
<div>
  <a class="btn btn-xs btn-warning" onclick="getCategoryInfo('{{category.id}}', '{{category.name}}')">< Back</a>
</div> -->
