{% load static %}
<div class="col-xs-12 col-sm-12 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <h2 class="page-header">Participant Info</h2>
            <div class="panel-body">
                <h4>
                    <p>User ID: {{participant.user.pk}}</p>
                    <p>Email: {{participant.user.email}}</p>
                </h4>
            </div>
        <h2 class="page-header">Current Enrollment</h2>
        {% if not current %}
        <div class="panel-body">
            <h4>This participant has no current enrollment.</h4>
        </div>
        {% else %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href=#{{current}}>{{current}}</a>
                    </h4>
                </div>
                <div id={{current}} class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <p>Instructor: {{current.instructor}}</p>
                            <p>Category: {{current.category}}</p>
                            <p>Progress: {{percentage}}% Completed</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="accordion-container">
            <h2 class="page-header">History Enrollment</h2>
            {% if not history %}
            <div class="panel-body">
                <h4>This participant has no history enrollment.</h4>
            </div>
            {% else %}
            <div class="panel-group" id="accordion">
                {% for k, e in history.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href=#{{k}}>{{k}}</a>
                        </h4>
                    </div>
                    <div id={{k}} class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <p>Instructor: {{k.instructor}}</p>
                                <p>Category: {{k.category}}</p>
                                <p>Date of Completion: {{e}}</p>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if course.id > 0 %}
    <div>
        <h4 class="page-header"></h4>
        <a class="btn btn-md btn-warning" onclick="getCourseInfo('{{course.id}}', '{{course.name}}')">Back to Course</a>
    </div>
    {% endif %}
</div>
