.sdp-main-color {color:#fff !important; background-color:#cf916f !important}
.sdp-main-color-dark {color:#fff !important; background-color:#ac6239 !important}
.sdp-main-color-xlight {color:#fff !important; background-color:#e2bda8 !important}
.sdp-main-color-xxlight {color:#000 !important; background-color:#f8f1ec !important}
