@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
  position: relative;
  z-index: 3;
  background: #FFFFFF;
  max-width: 360px;
  margin: auto auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 5px 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  height: 50px;
  width: 90%;
  border: 0;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #cf916f;
  width: 90%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0 0 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ac6239;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

* { margin: 0; padding: 0; border: 0; }
    html,body{
    	margin: 0;
    }
    @-webkit-keyframes STAR-MOVE {
	from {
		background-position:0% 0%
	}
	to {
		background-position: 600% 0%
	}
}
 @keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to {
		background-position: 600% 0%
	}
}
.wall{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

}
div#background{
	background: black url('../image/login/background.png') repeat-x 5% 0%;
	background-size: cover;
	-webkit-animation: STAR-MOVE  200s linear infinite;
	-moz-animation: STAR-MOVE  200s linear infinite;
	-ms-animation: STAR-MOVE  200s linear infinite;
	animation: STAR-MOVE  200s linear infinite;
}
div#midground{
	background:url('../image/login/midground.png')repeat 20% 0%;
	z-index: 1;
	-webkit-animation: STAR-MOVE  100s linear infinite;
	-moz-animation: STAR-MOVE  100s linear infinite;
	-ms-animation: STAR-MOVE  100s linear infinite;
	animation: STAR-MOVE  100s linear infinite;
}
div#foreground{
	background:url('../image/login/foreground.png')repeat 35% 0%;
	z-index: 2;
	-webkit-animation: STAR-MOVE  50s linear infinite;
	-moz-animation: STAR-MOVE  50s linear infinite;
	-ms-animation: STAR-MOVE  50s linear infinite;
	animation: STAR-MOVE  50s linear infinite;
}

body {
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
