<div id="accordion-container">
    <h2 class="page-header">General Info&nbsp;
      {% if is_enrolled %}
          <a class="btn btn-md btn-warning">Drop</a>
      {% endif %}
    </h2>
    <h5 class="panel-body">{{description}}</h5>

    {% if is_enrolled %}
      <div id="accordion">
        {% for module, components in modules.items %}
        <h3 class="page-header" style="color: #686868;">
            Module {{ forloop.counter }}: {{module.name}}&nbsp;&nbsp;
            <a class="btn btn-md btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapse{{module.id}}">Collapse</a>&nbsp;
        </h3>
        <div id="collapse{{module.id}}" class="col-sm-12 panel-collapse collapse in">
          {% for component in components%}
            <h4 class="page-header" style="color: #686868;">Component {{forloop.parentloop.counter}}.{{ forloop.counter }}: {{component.name}}</h4>
            <h5 class="panel-body">{{component.content}}</h5>
          {% endfor %}
        </div>
        {% endfor %}
      </div><!--/#accordion-->
    {% else %}
      <h2 class="page-header">Category</h2>
      <h5 class="panel-body">{{category.name}}</h5>
      <h2 class="page-header">Instructor</h2>
      <h5 class="panel-body">{{instructor}}</h5>
    {% endif %}
</div><!--/#accordion-container-->
{% if not is_enrolled %}
<a class="btn btn-sm btn-info" onclick="enroll('{{course_id}}')">+ Enroll</a>
{% endif %}
<a class="btn btn-xs btn-warning" onclick="getCategoryInfo('{{category.id}}', '{{category.name}}')">< Back</a>
